.wrapper {
  margin: 0rem 1rem 0 1rem;
  padding: 0rem 3rem 0 3rem;
  margin-bottom: -6.5rem;
}

.random-card {
  min-height: 20rem;
  border-radius: 2rem;
  width: 120%;
  position: relative;
  margin: 0 !important;
}

.random-card img {
  border-radius: 3rem;
  position: relative;
  zoom: 0.55;
  object-fit: cover;
  filter: contrast(105%) saturate(105%) brightness(105%);
}

.random-title {
  margin-top: -6rem;
  text-align: center;
  z-index: 10;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1rem;
}

.picks1 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-right: 2.2rem;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.picks2 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
