/* 
h3 {
    margin-top: 5rem;
    margin-left: 4rem;
    margin-bottom: 0;
    text-align: left;
    text-decoration: none;
    font-weight: 780;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 5rem;
    padding-top: 5rem;
    gap: 30px;
  }

.img-container {
    align-items: center;
}

img {
    border-radius: 30px;
}

h4 {
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
} */
/* 

* {
    background-color: aquamarine;
} */

.card-healthy {
  margin: 0 auto;
  padding: 2rem;
  /* display: flex; */
}

.grid-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr;
  max-width: 90%;
  margin: 0 auto;
}

.card-healthy img {
  position: relative;
  zoom: 0.55;
  object-fit: cover;
  border-radius: 25rem;
  height: 28rem;
  margin-bottom: 2.5rem;
  /* filter: grayscale(100%); */
  /* filter: contrast(100%) saturate(100%) brightness(105%); */
}

.card-healthy img:hover {
  zoom: 0.56;
}

.card-healthy {
  padding: 0;
  width: 80%;
}

.card-dessert {
  padding: 0;
  width: 80%;
  filter: grayscale(100%);
}

.card-dessert:hover {
  filter: none;
}

.classification {
  font-weight: 800;
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.recipeName {
  text-align: center;
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

/* Default for Mobile */
/* .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      max-width: 90%; 
      margin: 0 auto;
      padding: 0;
  } */

/* Tablets: 2 columns */
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 85%;
  }
}

/* Small Desktops: 3 columns */
@media (min-width: 900px) and (max-width: 1199px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Regular Desktops: 4 columns */
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 80%;
  }
}
