.card-healthy {
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90%;
  margin: 2rem auto !important;
  justify-content: center;
}

.healthy-image {
  position: relative;
  zoom: 0.55;
  object-fit: cover;
  border-radius: 25rem;
  height: 28rem;
  margin-bottom: 2rem;
}

.healthy-image:hover {
  zoom: 0.56;
}

.card-healthy {
  padding: 1rem;
  width: 100%;
}

.card-dessert {
  padding: 1rem;
  width: 100%;
}

.card-dessert:hover {
  filter: none;
}

.classification {
  font-weight: 800;
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.recipeName {
  text-align: center;
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); 
    max-width: 95%;
  }

  .healthy-image {
    height: 18rem; 
    border-radius: 15rem; 
  }

  .classification {
    font-size: 1.3rem; 
  }

  .recipeName {
    font-size: 0.95rem; 
  }

  .card-healthy, .card-dessert {
    padding: 0.6rem;
  }
}


@media only screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr) !important; 
    max-width: 100%; 
    padding-right: 1rem;
  }

  .healthy-image {
    height: 17rem; 
    border-radius: 10rem; 
  }

  .classification {
    font-size: 1.1rem; 
    margin-left: 0.4rem;
    margin-top: 0.8rem;
    margin-bottom: -0.8rem;
  }

  .recipeName {
    font-size: 0.7rem; 
    line-height: 15px;
  }

  .card-healthy, .card-dessert {
    padding: 0.4rem;
  }
}

