.list {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.slink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  background: linear-gradient(35deg, #494949, #313131);
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  transform: scale(0.8);
  border: 2px solid #444;
  transition: all 0.2s;
}

.category-name {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.category-icon {
  color: white;
  font-size: 2.3rem;
}

.slink.active {
  background: linear-gradient(to bottom, #00473d, #006457);
  border: none;
  color: white;
}

.slink.active .category-name,
.slink.active .category-icon {
  color: white;
}

/* ✨✨✨✨ */

@media only screen and (max-width: 1024px) {
  .slink {
    width: 8rem;
    height: 8rem;
  }

  .category-icon {
    font-size: 3rem;
  }

  .category-icon {
    font-size: 2.5rem;
  }

  .category-name {
    font-size: 20px;
    font-weight: 600;
  }
}

/* ✨✨✨✨ */

@media only screen and (max-width: 480px) {
  .slink {
    width: 5rem;
    height: 5rem;
  }

  .category-icon {
    margin-top: 5px;
    font-size: 2.5rem;
  }

  .category-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}