.card-cuisine {
  margin: 0 auto;
  /* padding: 4rem; */
  /* display: flex; */
}

.grid-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr;
  max-width: 80%;
  margin: 0 auto;
}

.card-cuisine img {
    position: relative;
    width: 280px !important;
    height: 350px !important;
    zoom:0.55;
    object-fit: cover;
    border-radius: 3rem;

    /* filter: contrast(105%) saturate(105%) brightness(105%); */
    /* filter: grayscale(100%); */
    /* filter: contrast(120%) saturate(105%) brightness(110%); */
}

.card-cuisine img:hover {
    zoom: 0.56;
}

.card-cuisine {
  padding: 0;
  width: 80%;
}

.cuisineName {
    margin-bottom: 1rem;
}

/* Tablets: 2 columns */
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 85%;
    }
}

/* Small Desktops: 3 columns */
@media (min-width: 900px) and (max-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Regular Desktops: 4 columns */
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 80%;
    }
}
