.card-cuisine {
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 80%;
  margin: 0 auto;
}

.cuisine-image {
  position: relative;
  width: 60rem !important;
  height: 23rem !important;
  zoom: 0.55;
  object-fit: cover;
  border-radius: 3rem;
}

.card-cuisine img:hover {
  zoom: 0.56;
}

.card-cuisine {
  padding: 0;
  width: 80%;
}

.cuisineName {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 85%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 80%;
  }
}
